/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f79d9d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #f9fac2;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Animation */
  --animation-duration: 300ms;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size--border--radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width:100%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1; 
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}

.navbar__menu {
  display: flex;
  color: var(--color-white);
}

.navbar__logo {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size--border--radius);
}

.navbar__menu__item.active {
  background-color: var(--color-dark-pink);
  border-color: var(--color-white);
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}


/* toggle-btn */
.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  top: 20px;
  display: none;
  border: 1px solid var(--color-pink);
  border-radius: var(--size--border--radius );
}

.navbar__toggle-btn:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

/* Home */
#home {
  background: url("imgs/mainBackground.png") center/cover no-repeat;
  padding: 40px;
  padding: 150px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title, .home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size--border--radius);
}

.home__contact:hover {
  background-color:var(--color-dark-pink);
}

/* Section Common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container{
  max-width: 1200px;
  margin: auto;
}

/* About */

.aboutSet {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 80px;
}

.about__title {
  padding-bottom: 8px;
}

/* .about__left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}


.about__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
} */

.about__description {
  padding: 24px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 40px;
}

.major {
  margin: 0 20px;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name, .job__period {
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}


.job__logo {
  width: 50px;
  height: auto;
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  margin: 20px 0;
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.skillset__title {
  color: var(--color-white);
  font-weight:var(--weight-bold);
  margin: 0;
}

.tools {
  background-color: var(--color-grey);
}

.tools, .etc{
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 48px;
}

.category__btn {
  width: 250px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size--border--radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin-bottom: 5px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  opacity:0;
  position: relative;
  top: -20px;
  left: 4px;
  transition: all var(--animation-duration) ease-in;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity:1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.animation-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration);
  transform: translateY(10px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content:'';
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

.project:hover .project__description{
  opacity: 0.8;
  transform: translateY(0px);
}



/* Testimonial 
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin:40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  
}

.testimonials__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonials__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonials__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonials__speech-bubble {
  background-color: white;
  border-radius: var(--size--border--radius);
  padding: 18px;
}

.testmonials__speech-bublle p {
  color: var(--color-light-grey);
}

.testimonials__speech-bubble a {
  color: var(--color-pink);
} */

/* Contact */

#contact {
  background-color: var(--color-pink);
  position: relative;
}

.contact__title {
  color: var(--color-white);
  margin: 24px 0;
}

.contact__email {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 20px;
}

.contact__phone {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 70px;
}

.contact__links {
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.cube {
  width: 50px;
  height: 50px;
  text-align: center;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.cube__front {
  z-index:1;
  width: 50px;
  transform: translateZ(25px);
}
.cube__back {
  width: 50px;
  transform: rotateX(90deg) translateZ(78px);
}

.cube:hover {
    transform: rotateX(-90deg);
}

.contact__right {
  color: var(--color-dark-white);
  font-size: var(--font-micro);
}

/* ArrowUp Btn */

.arrowUpBtn {
  position : fixed;
  bottom: 30px;
  right: 30px;
  opacity:0;
  transition: var(--animation-duration) ease-in-out;
  pointer-events: none;
}

.arrowUpBtn.visible {
  opacity:1;
  pointer-events: auto;
}

/* 화면넓이 768px(테블릿)이하 적용 */
@media screen and (max-width: 768px) {
:root {  /*미디어쿼리 안에서는 root 변수 우선설정 가능 언급되지않은건 바깥 root가 적용*/

   /* Response Font size */
   --font-large: 30px;
   --font-medium: 18px;
   --font-regular: 16px;
   --font-small: 14px;
   --font-micro: 12px;

}
  #home {
    padding: 60px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 7px;
    right:7px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .home__avatar {
    width: 150px;
    height: 150px;
  }

  .section {
    padding: 16px;
  }

  .aboutSet {
    flex-direction: column;
    text-align: center;
    margin-top: 28px;
  }

  .about__majors {
    flex-direction: column; 
  }

  .major__icon {
    margin-top: 36px;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  /* .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonials__avatar {
    width: 80px;
    height: 80px;
  }

  .testimonials__avatar:nth-child(odd) {
    margin: 0 0 8px 0;
  }


  .testimonials__avatar:nth-child(even) {
    margin: 0 0 8px 0;
  }

  

  .testimonials__speech-bubble {
    order: 1;
  } */

  .arrowUpBtn {
    bottom: 16px;
    right: 16px;
  }

}